<form method="POST" action="/addFeedback">
    <input type="text" name="name" placeholder="Enter your name..">
    <input type="text" name="feedback" placeholder="Enter your feedback">
    <input type="submit" placeholder="Submit">
</form>