<form method="POST" action="/todo/add">
    <input type="text" name="todo" placeholder="Enter your todo">
    <input type="number" name="time" placeholder="Enter Time to complete">

    <input type="submit" placeholder="Add">
</form>